header {
  margin-bottom: 4.7em;
}

header nav {
  background-color: #efa420 !important;
}

header nav li:hover {
  border-bottom: 2px solid wheat;
}

header nav li a {
  color: white !important;
}

header nav li a:hover {
  color: wheat !important;
}

header nav li .active {
  color: wheat !important;
  border-bottom: 2px solid wheat;
}

body {
  background: #f7f7f7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#best-sponsors {
  background-color: #bebebe;
}

#best-sponsors img, #best-sponsors .contact-us {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#best-sponsors img:hover, #best-sponsors .contact-us:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

#team .mail {
  text-decoration: none;
}

#team .linkedin {
  text-decoration: none;
}

#booklet .booklet-pdf {
  max-width: 100%;
  min-width: 60%;
  max-height: 700px;
  min-height: 600px;
}

footer img, footer .contact-us {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer img:hover, footer .contact-us:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.btn-primary {
  background: #efa420 !important;
  border-color: #efa420 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-primary:hover {
  background: #7e5409 !important;
  border-color: #7e5409 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#stats .icons {
  font-size: 3em;
  color: #666666;
  padding-bottom: 0.5rem;
}

#stats .title-stats {
  font-size: 22px;
}

#stats .col-md-2 {
  text-align: center;
}

#packages-ebec .check,
#packages-oc .check {
  color: green;
}

#packages-ebec .not-check,
#packages-oc .not-check {
  color: red;
}

#packages-ebec table tbody tr:nth-child(odd),
#packages-oc table tbody tr:nth-child(odd) {
  background-color: rgba(102, 102, 102, 0.2);
}

#packages-ebec table thead tr,
#packages-oc table thead tr {
  background-color: rgba(255, 154, 0, 0.2);
}

#packages-oc .check {
  color: green;
}

#packages-oc .not-check {
  color: red;
}

#packages-oc table tbody tr:nth-child(odd) {
  background-color: rgba(102, 102, 102, 0.2);
}

#packages-oc table thead tr {
  background-color: rgba(255, 154, 0, 0.2);
}

#partners-biv,
#partners-ebec,
#partners-oc {
  background: #efa420;
}

#partners-biv .title,
#partners-ebec .title,
#partners-oc .title {
  color: white;
}

#partners-biv .card,
#partners-ebec .card,
#partners-oc .card {
  min-height: 100px;
  background-color: rgba(255, 255, 255, 0.8) !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#partners-biv .card:hover,
#partners-ebec .card:hover,
#partners-oc .card:hover {
  background-color: white !important;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

#partners-biv .big,
#partners-ebec .big,
#partners-oc .big {
  margin: 0 auto;
  max-height: 100px;
  width: auto;
  max-width: 100%;
}

#partners-biv img,
#partners-ebec img,
#partners-oc img {
  padding: 1em;
}

#partners-biv .logo-smaller,
#partners-ebec .logo-smaller,
#partners-oc .logo-smaller {
  height: 80px;
}

#events-oc {
  background: url(../images/biv-activities.jpg) no-repeat center center/cover;
  position: relative;
  z-index: 1;
}

#events-oc img {
  margin: 0 auto;
  max-height: 300px;
  width: auto;
  max-width: 100%;
}

#events-oc .courses {
  width: 400px;
  margin: 46px auto 46px auto;
  height: auto;
}

#events-oc .title {
  color: #f7f7f7;
}

#events-oc .card {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#events-oc .card:hover {
  background-color: #ffffff;
}

#testimonies .bubble {
  position: relative;
  background: #efa420;
  color: white;
  border-radius: 0.4em;
  padding: 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#testimonies .bubble:hover {
  background: #7e5409;
}

#testimonies .bubble:hover:after {
  border-right-color: #7e5409;
}

#testimonies .bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 65px solid transparent;
  border-right-color: #efa420;
  border-left: 0;
  border-bottom: 0;
  margin-top: -32.5px;
  margin-left: -65px;
}

#testimonies .center {
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  #stats .col-md-3 {
    text-align: center;
    margin-left: 0;
  }
}

#cover {
  background: #f7f7f7;
  position: relative;
  z-index: 1;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#cover .logo {
  min-width: 300px;
  width: 35vw;
  height: auto;
}

#cover .disclaimer {
  color: #666666;
}

#cover .disclaimer h2 {
  color: #666666;
}

#cover .disclaimer h4 {
  margin: 0;
  text-indent: 2rem;
  text-align: justify;
}

#cover .cover-card {
  background-color: rgba(255, 255, 255, 0.8);
}

#cover .btn-secondary {
  background: #666666 !important;
  border-color: #666666 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#cover .btn-secondary:hover {
  background: #333333 !important;
  border-color: #333333 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#events-ebec {
  background: #f7f7f7;
}

#events-ebec .card {
  background: #efa420;
  color: #f7f7f7;
  border: none;
  border-radius: 10px;
  min-height: 400px;
  max-height: none;
}

#events-ebec p {
  font-size: larger;
  text-align: justify;
  font-weight: 600;
}

#events-ebec h2 {
  color: #666666;
}

#events-ebec img {
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 250px;
}

#previous-editions {
  background: url(../images/partners/partners.jpg) repeat center center/cover;
  position: relative;
  z-index: 1;
}

#previous-editions .title {
  color: #f7f7f7;
  font-weight: bold;
}

#previous-editions .container {
  max-width: 900px;
  margin: 0 auto;
}

#previous-editions .container img {
  margin: 0 auto;
  max-height: 600px;
  width: auto;
  max-width: 100%;
  border: 4px solid #f7f7f7;
  border-radius: 10px;
  background-color: white;
}

#stats {
  background-color: #f7f7f7;
}

#stats h1 {
  color: #666666;
}

#stats h4,
#stats p {
  color: #666666;
  font-weight: bold;
}

#stats .icons {
  color: #efa420;
  margin: 0.5rem;
  padding: 0;
  font-size: 4rem;
}

#stats .flex-row {
  max-width: 100%;
}

#stats .arround-icon {
  max-width: 110px;
  min-width: 110px;
}

#stats .col-md-6 {
  margin-bottom: 1em;
}

#packages-ebec {
  background-color: #f7f7f7;
}

#packages-ebec h1 {
  color: #efa420;
}

#packages-ebec .check {
  font-size: large;
  color: #666666;
}

#packages-ebec .not-check {
  font-size: large;
  color: #efa420;
}

#packages-ebec .text {
  color: #666666;
  font-size: smaller;
}

#packages-ebec table {
  overflow: hidden;
  font-weight: bold;
}

#packages-ebec table tbody th,
#packages-ebec table tbody td {
  border-left: 2px solid #efa420;
  border-right: 2px solid #efa420;
}

#packages-ebec table tbody th {
  background-color: #f7f7f7;
  color: #efa420;
}

#packages-ebec table thead tr {
  background-color: #efa420;
  color: #f7f7f7;
}

#packages-ebec table tbody tr:nth-child(odd) {
  background-color: #f7f7f7;
}

#packages-ebec .table-final-prices,
#packages-ebec .table-prices {
  border: 2px solid #efa420;
}

#packages-ebec .table-final-prices th,
#packages-ebec .table-final-prices td,
#packages-ebec .table-prices th,
#packages-ebec .table-prices td {
  color: #f7f7f7;
  background-color: #efa420;
}

#testemonies-ebec {
  color: #666666;
}

#testemonies-ebec h2 {
  color: #efa420;
}

#testemonies-ebec .inside-carousel {
  min-height: 360px;
  max-width: 1100px;
  margin: auto;
  text-align: justify;
  font-size: larger;
  font-weight: 600;
}

#testemonies-ebec .buttons {
  color: #666666;
}

#testemonies-ebec .carousel-indicators button {
  background-color: #666666;
}

#testemonies-ebec .carousel i {
  font-size: 2rem;
  color: #666666;
}

#previous-editions {
  background: #efa420;
}

#booklet {
  background: #efa420;
  min-height: 180px;
  padding-bottom: 2rem;
}

#booklet h2 {
  color: #f7f7f7;
  margin-bottom: 2.5rem;
}

#booklet .button {
  background-color: rgba(255, 255, 255, 0.8);
  color: #efa420;
  text-decoration: none;
  margin-bottom: 3rem;
  border-radius: 10px;
  font-size: 20px;
  -webkit-transition: font-size 0.2s;
  transition: font-size 0.2s;
}

#booklet .button:hover {
  background-color: #f7f7f7;
  font-size: 22px;
}

#team {
  color: #666666;
}

#team h2 {
  color: #efa420;
}

#team a {
  color: #efa420;
}

@media (max-width: 1200px) {
  #events-ebec .card {
    max-height: 300px;
    min-height: none;
  }
}
/*# sourceMappingURL=ebec_main.css.map */