@import './ebec_colors';
@import "../../styles/general";
@import "../../styles/events";

#cover {
    img {
        @include ImageCenter(200px);
    }
    &:before {
        @include backgroundImg($primary-color-hover);
    }
    background: url(../images/ebec_cover.png) no-repeat center center / cover;
    position: relative;
    z-index: 1;
    .cover-card {
        background-color: rgba(255, 255, 255, 0.8);
    }
    .btn-secondary {
        background: $secondary-color !important;
        border-color: $secondary-color !important;
        box-shadow: none !important;
        &:hover {
            background: $secondary-color-hover !important;
            border-color: $secondary-color-hover !important;
            box-shadow: none !important;
        }
    }
}

#events-ebec {
    background: url(../images/ebec_activities.jpg) no-repeat center 25% / cover;
}

#previous-editions {
    &:before {
        @include backgroundImg($primary-color-hover);
    }
    background: url(../images/partners/partners.jpg) repeat center center / cover;
    position: relative;
    z-index: 1;
    .title {
        color: white;
    }
    .container {
        max-width: 900px;
        margin: 0 auto;
        img {
            @include ImageCenterMaxHeight(600px);
        }
    }
}

#previous-editions {
    background: url(../images/prev_ed_ebec.jpg) repeat center 100% / cover;
}

#booklet {
    background: url(../images/booklet_ebec.jpg) repeat center center / cover;
}