@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto&display=swap");
header {
  margin-bottom: 4.7em;
}

header nav {
  background-color: #124274 !important;
}

header nav li:hover {
  border-bottom: 2px solid wheat;
}

header nav li a {
  color: white !important;
}

header nav li a:hover {
  color: wheat !important;
}

header nav li .active {
  color: wheat !important;
  border-bottom: 2px solid wheat;
}

body {
  background: #f7f7f7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#best-sponsors {
  background-color: #bebebe;
}

#best-sponsors img, #best-sponsors .contact-us {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#best-sponsors img:hover, #best-sponsors .contact-us:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

#team .mail {
  text-decoration: none;
}

#team .linkedin {
  text-decoration: none;
}

#booklet .booklet-pdf {
  max-width: 100%;
  min-width: 60%;
  max-height: 700px;
  min-height: 600px;
}

footer img, footer .contact-us {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer img:hover, footer .contact-us:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.btn-primary {
  background: #124274 !important;
  border-color: #124274 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-primary:hover {
  background: #09213a !important;
  border-color: #09213a !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#stats .icons {
  font-size: 3em;
  color: #f89920;
  padding-bottom: 0.5rem;
}

#stats .title-stats {
  font-size: 22px;
}

#stats .col-md-2 {
  text-align: center;
}

#packages-ebec .check,
#packages-oc .check {
  color: green;
}

#packages-ebec .not-check,
#packages-oc .not-check {
  color: red;
}

#packages-ebec table tbody tr:nth-child(odd),
#packages-oc table tbody tr:nth-child(odd) {
  background-color: rgba(255, 154, 0, 0.2);
}

#packages-ebec table thead tr,
#packages-oc table thead tr {
  background-color: rgba(1, 61, 119, 0.2);
}

#packages-ebec .check,
#packages-oc .check {
  color: green;
}

#packages-ebec .not-check,
#packages-oc .not-check {
  color: red;
}

#packages-ebec table tbody tr:nth-child(odd),
#packages-oc table tbody tr:nth-child(odd) {
  background-color: rgba(255, 154, 0, 0.2);
}

#packages-ebec table thead tr,
#packages-oc table thead tr {
  background-color: rgba(1, 61, 119, 0.2);
}

#partners-biv,
#partners-ebec,
#partners-oc {
  background: #124274;
}

#partners-biv .title,
#partners-ebec .title,
#partners-oc .title {
  color: white;
}

#partners-biv .card,
#partners-ebec .card,
#partners-oc .card {
  min-height: 100px;
  background-color: rgba(255, 255, 255, 0.8) !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#partners-biv .card:hover,
#partners-ebec .card:hover,
#partners-oc .card:hover {
  background-color: white !important;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

#partners-biv .big,
#partners-ebec .big,
#partners-oc .big {
  margin: 0 auto;
  max-height: 100px;
  width: auto;
  max-width: 100%;
}

#partners-biv img,
#partners-ebec img,
#partners-oc img {
  padding: 1em;
}

#partners-biv .logo-smaller,
#partners-ebec .logo-smaller,
#partners-oc .logo-smaller {
  height: 80px;
}

#events-ebec,
#events-oc {
  background: url(../images/biv-activities.jpg) no-repeat center center/cover;
  position: relative;
  z-index: 1;
}

#events-ebec:before,
#events-oc:before {
  background-color: #09213a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  content: "";
  z-index: -1;
}

#events-ebec img,
#events-oc img {
  margin: 0 auto;
  max-height: 300px;
  width: auto;
  max-width: 100%;
}

#events-ebec .courses,
#events-oc .courses {
  width: 400px;
  margin: 46px auto 46px auto;
  height: auto;
}

#events-ebec .title,
#events-oc .title {
  color: #f7f7f7;
}

#events-ebec .card,
#events-oc .card {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#events-ebec .card:hover,
#events-oc .card:hover {
  background-color: #ffffff;
}

#testimonies .bubble {
  position: relative;
  background: #124274;
  color: white;
  border-radius: 0.4em;
  padding: 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#testimonies .bubble:hover {
  background: #09213a;
}

#testimonies .bubble:hover:after {
  border-right-color: #09213a;
}

#testimonies .bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 65px solid transparent;
  border-right-color: #124274;
  border-left: 0;
  border-bottom: 0;
  margin-top: -32.5px;
  margin-left: -65px;
}

#testimonies .center {
  margin: 0 auto;
}

#booklet {
  background: url(../images/biv-booklet.jpg) repeat center center/cover;
  position: relative;
  z-index: 1;
}

#booklet:before {
  background-color: #09213a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  content: "";
  z-index: -1;
}

#booklet .cover-card {
  background: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 768px) {
  #stats .col-md-3 {
    text-align: center;
    margin-left: 0;
  }
}

body {
  background-color: white;
}

#cover {
  background-color: #124274;
}

#cover .container {
  height: auto;
}

#cover .container .card {
  background-color: rgba(255, 255, 255, 0.2);
  max-width: 20%;
  max-height: 20%;
  border-radius: 10px;
  margin: auto;
}

#cover .container .card img {
  max-height: 100%;
  max-width: 100%;
}

#cover .container .banner {
  font-family: "Oswald", sans-serif;
}

#cover .container .banner h1 {
  margin-bottom: -0.1%;
  color: #f89920;
  font-size: 8vw;
}

#cover .container .banner h3 {
  margin: 0;
  color: white;
  font-size: 2.5vw;
}

#cover .container .banner .titles h3 {
  color: #f89920;
}

#cover .container .banner .vl {
  margin: auto;
  width: 1px;
  border-left: 2px solid #f89920;
  border-right: 2px solid #f89920;
  height: 3vw;
}

#cover .container .disclaimer {
  margin-top: 7em;
  color: white;
}

#cover .container .disclaimer h4 {
  margin: 0;
  text-indent: 2rem;
  text-align: justify;
}

#events-biv {
  background-color: #124274;
}

#events-biv .title {
  color: #f89920;
}

#events-biv .right-border {
  border-right: 1.5px solid #f89920;
}

#events-biv .left-border {
  border-left: 1.5px solid #f89920;
}

#events-biv .img-top {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  max-width: 100%;
}

#events-biv .card {
  border-radius: 10px;
  color: #124274;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 100%;
}

#events-biv .card:hover {
  background-color: white;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

#events-biv .card-text {
  font-size: 100%;
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
}

#stats {
  background-color: white;
}

#stats h1 {
  color: #f89920;
}

#stats h4,
#stats p {
  color: #24282b;
  font-weight: bold;
}

#stats .icons {
  margin: 0.5rem;
  padding: 0;
  font-size: 4rem;
}

#stats .flex-row {
  max-width: 100%;
}

#stats .arround-icon {
  max-width: 110px;
  min-width: 110px;
}

#stats .col-md-6 {
  margin-bottom: 1em;
}

#previous-editions {
  background-color: #124274;
}

#previous-editions .title {
  color: #f89920;
}

#previous-editions .container {
  max-width: 900px;
  margin: 0 auto;
}

#previous-editions .container img {
  margin: 0 auto;
  max-height: 600px;
  width: auto;
  max-width: 100%;
  border: 4px solid #f89920;
  border-radius: 10px;
  background-color: white;
}

#packages-biv {
  background-color: white;
  /*
    .table-day {
        th,
        td {
            background-color: rgba(1, 62, 119, 0.3);
        }
    }
    .table-cv {
        th,
        td {
            background-color: rgba(1, 62, 119, 0.09);
        }
    }
    */
}

#packages-biv h1 {
  color: #124274;
}

#packages-biv .check {
  font-size: large;
  color: #f89920;
}

#packages-biv .not-check {
  font-size: large;
  color: #124274;
}

#packages-biv table {
  overflow: hidden;
  font-weight: bold;
  /*
        tbody tr {
            &:nth-child(odd) {
                background-color: rgb(247, 247, 247);
            }
        }
        */
}

#packages-biv table tbody th,
#packages-biv table tbody td {
  border-left: 2px solid #124274;
  border-right: 2px solid #124274;
}

#packages-biv table tbody th {
  background-color: white;
  color: #124274;
}

#packages-biv table thead tr {
  background-color: #124274;
  color: white;
}

#packages-biv .table-promotion {
  border-top: 2px solid #f89920;
}

#packages-biv .table-rt {
  border-top: 2px solid #f89920;
}

#packages-biv .table-final-prices,
#packages-biv .table-prices {
  border: 2px solid #124274;
}

#packages-biv .table-final-prices th,
#packages-biv .table-final-prices td,
#packages-biv .table-prices th,
#packages-biv .table-prices td {
  color: white;
  background-color: #124274;
}

#partners-biv {
  background-color: #124274;
  padding-bottom: 1rem;
}

#partners-biv .testemonies p {
  color: white;
  font-size: large;
}

#partners-biv .title {
  color: #f89920;
  font-weight: bold;
}

#partners-biv .inside-carousel {
  max-width: 800px;
  margin: auto;
  text-align: justify;
}

#team {
  background-color: white;
  color: #24282b;
}

#team .title {
  color: #124274;
  font-weight: bold;
}

@media (max-width: 1000px) {
  #cover .container .banner h1 {
    font-size: 10vw;
  }
  #cover .container .banner h3 {
    font-size: 4vw;
  }
  #cover .container .banner .vl {
    height: 5vw;
  }
  #cover .disclaimer h2 {
    font-size: 110%;
  }
  #cover .disclaimer h4 {
    font-size: 100%;
  }
  #events-biv .right-border {
    border: none;
  }
  #events-biv .left-border {
    border: none;
  }
}
/*# sourceMappingURL=biv_main.css.map */