/*Credits: https://codepen.io/brady_wright/pen/NNOvrW*/

/*==================================
    TIMELINE
==================================*/

    /*-- GENERAL STYLES
    ------------------------------*/
    .timeline {
        line-height: 1.4em;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        h1, h2, h3, h4, h5, h6 {
            line-height: inherit;
        }
    }

    .timeline a {
        color: $primary-color;
        text-decoration: none;
        &:hover {
            color: $primary-color-hover;
            text-decoration: none;
        }
    }

    /*----- TIMELINE ITEM -----*/

    .timeline-item {
        padding-left: 40px;
        position: relative;
        max-width: 65%;
        &:last-child {
            padding-bottom: 0;
        }
        &:nth-child(odd) {
            transform: translateX(50%);
        }
        &:nth-child(2) {
            padding-top: 20px;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 50%;
                border-bottom: 3px solid #CCD5DB;
                z-index: -1;
            }
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 51.3%;
                border-top: 3px solid #CCD5DB;
                z-index: -1;
            }
        }
        &:nth-child(4) {
            padding-top: 20px;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 51.3%;
                border-top: 3px solid #CCD5DB;
                z-index: -1;
            }
        }
    }

    /*----- TIMELINE INFO -----*/

    .timeline-info {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 3px;
        margin: 0 0 .5em 0;
        text-transform: uppercase;
        white-space: nowrap;
    }
    /*----- TIMELINE MARKER -----*/

    .timeline-marker {
        position: absolute;
        top: 0; bottom: 0; left: 0;
        width: 15px;
        &:before {
            background: $primary-color;
            border: 3px solid transparent;
            border-radius: 100%;
            content: "";
            display: block;
            height: 15px;
            position: absolute;
            top: -8px; left: -5px;
            width: 15px;
            transition: background 0.3s ease-in-out,
                    border 0.3s ease-in-out;
        }
        &:after {
            content: "";
            width: 3px;
            background: #CCD5DB;
            display: block;
            position: absolute;
            top: 7px; bottom: 0; left: 0px;
        }
        .timeline-item:last-child &:after {
            content: "";
        }
    }
    .timeline-item:not(.period):hover .timeline-marker:before {
        background: transparent;
        border: 3px solid $primary-color;
    }

    /*----- TIMELINE CONTENT -----*/

    .timeline-content {
        padding-bottom: 40px;
        p:last-child {
            margin-bottom: 0;
        }
        img {
            max-height: 100px;
            max-width: 100%;
        }
        .courses {
            max-height: 70px;
        }
    }

    /*----- TIMELINE PERIOD -----*/
    
    .period {
        padding: 0;
        .timeline-info {
            display: none;
        }
        .timeline-marker {
            &:before {
                background: transparent;
                content: "";
                width: 15px;
                height: auto;
                border: none;
                border-radius: 0;
                top: 0;
                bottom: 30px;
                position: absolute;
                border-top: 3px solid #CCD5DB;
                border-bottom: 3px solid #CCD5DB;
            }
            &:after {
                content: "";
                height: 32px;
                top: auto;
            }
        }
        .timeline-content {
            padding: 40px 0 70px;
        }
        .timeline-title {
            margin: 0;
        }
    }