@import "./colors";
@import "./general";
@import "./timeline";

#best-description {
    img {
        max-width: 100%;
        max-height: 350px;
    }
}

#cover {
    img {
        @include ImageCenter(150px);
    }
    &:before {
        @include backgroundImg($primary-color-hover);
    }
    background: url(../images/cover.jpg) no-repeat center center / cover;
    position: relative;
    z-index: 1;
    .cover-card {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

#events {
    &:before {
        @include backgroundImg($secondary-color-hover);
    }
    background: url(../images/BEST_map.png) no-repeat center 100% / 100%;
    position: relative;
    z-index: 1;
    img {
        @include ImageCenter(200px);
    }
    .courses {
        width: 400px;
        margin: 46px auto 46px auto;
        height: auto;
    }
    .title {
        color: #f7f7f7;
    }
    .card {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

#best-forms {
    &:before {
        @include backgroundImg($secondary-color-hover);
    }
    background: url(../images/img1.png) no-repeat center center / cover;
    position: relative;
    z-index: 1;
    .cover-card {
        background-color: rgba(255, 255, 255, 0.8);
    }
    iframe {
        max-width: 100%;
        max-height: 600px;
    }
}
